footer {
    text-align: center;
    background-color: rgb(10, 7, 7);
    color: #fff;
    padding: 20px;
    bottom: 0;
    width: 100%;
    z-index: -1;
    margin-top: 50px;
    padding-bottom: 10px;
}