@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Hachi+Maru+Pop&family=Monoton&family=Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background/background_img.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

.logo {
    font-family: "Monoton", cursive;
    font-size: 1.5rem;
    margin: .5rem;
    color: white;
}

.logo p {
    margin-top: 0;
    margin-bottom: 0;
}

.nav_bar {
    margin-top: 0;
    width: 1100px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: calc((100% - 1100px) / 2);
    z-index: 100000;
}

.nav_links ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav_links li {
    display: inline-flex;
}

.nav_links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 25px;
    position: relative;
    font-family: 'Noto Serif', serif;
}

.nav_links li a:hover {
    color: tomato;
    transition: .9s;
}

.login_sign {
    background-color: #222222;
    border-radius: 30%;
    opacity: 0.8;
}

.login_sign:hover {
    background-color: rgb(0, 0, 0);
    color: #fff;
    transition: 1s;
}

.sub_user {
    display: none;
    width: 150px;
}

.nav_links ul li:hover .sub_user {
    display: block;
    position: absolute;
    margin-top: 60px;
    margin-left: -15px;
    backdrop-filter: blur(60px);
    background: rgba(53, 50, 50, 0.5);
}

.nav_links ul li:hover .sub_user ul {
    display: block;
    margin: 20px;
}

.nav_links ul li:hover .sub_user ul li {
    width: 100px;
    background: transparent;
    border-radius: 30%;
    text-align: center;
}

.active_nav::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: tomato;
    border-radius: 5px 5px 0 0;
    opacity: 0;
    transition: 0.3s;
}

.active_nav:not(.is-active):hover::before {
    opacity: 1;
    bottom: 0;
}

.active_nav:not(.is-active):hover {
    color: tomato;
}

.img_area {
    background-image: url(../img/background/background_img.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    left: 0;
    right: 0;
    height: 100%;
    filter: blur(5px);
    z-index: -1;
}

.login_page {
    display: flex;
    border: 2px solid red;
    height: 300px;
    position: relative;
}

.log_reg_container {
    position: relative;
}

.show_container {
    width: 380px;
    height: 700px;
    position: relative;
    margin: 2% auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px;
    overflow: hidden;
    background: rgb(237, 237, 241);
    margin-top: 160px;
    border-radius: 10px;
}

input::placeholder {
    color: #f00;
}

.button-box {
    width: 210px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #3d18091f;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

.toggle-btn_reg {
    padding: 10px;
    padding-left: 28px;
    cursor: pointer;
    background: transparent;
    outline: none;
    position: relative;
    float: right;
    border: 0;
    align-content: center;
}

#switch_btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background: #777776;
    border-radius: 30px;
    transition: .5s;
}

.input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-admin-login {
    top: 30px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #F3C693;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 34px 0;
}

span {
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login_form {
    left: 50px;
}

#login_form input {
    color: rgb(0, 0, 0);
    font-size: 15;
}

#reg_form {
    left: 450px;
}

#reg_form input {
    color: rgb(0, 0, 0);
    font-size: 15;
}

#admin_log_form {
    left: 50px;
}

#admin_log_form input {
    color: rgb(0, 0, 0);
    font-size: 15;
}

#sys_reg_form {
    left: 450px;
}

#sys_reg_form input {
    color: rgb(0, 0, 0);
    font-size: 15;
}

.content {
    margin: 15px 0;
}

.data {
    display: none;
    color: #000;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.data1 {
    display: none;
    color: #000;
}

.content1 {
    margin: 15px 0;
}

.wrapper1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}